{% block search %}
    <div class="input-group search-form">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">{% trans %}Filteren{% endtrans %}</span>
                <span class="caret"></span>
            </button>
            <ul class="search-filter dropdown-menu search-options" role="menu">
                <li><a href="#" class="clickable course-name" data-attribute="name,description" data-entity="courses" data-name="{% trans %}Cursusnaam{% endtrans %}">{% trans %}Cursusnaam{% endtrans %}</a></li>
                <li><a href="#" class="clickable course-teacher" data-attribute="name,description" data-entity="teachers" data-name="{% trans %}Docent{% endtrans %}">{% trans %}Docent{% endtrans %}</a></li>
                <li><a href="#" class="clickable course-provider" data-attribute="name,description" data-entity="providers" data-name="{% trans %}Docent{% endtrans %}">{% trans %}Aanbieder{% endtrans %}</a></li>
            </ul>
        </div>
        <input type="text" class="form-control search-value" placeholder="{% trans %}Zoekterm{% endtrans %}">
    </div>
{% endblock %}