{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
            {% trans %}mo.add_assignments{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <div class="centrum">
            <p>{% trans %}mo.what_name_assignment_page{% endtrans %}?</p>
            <div class="form-group">
                <input required="required" type="text" class="form-control title-exercise-page" placeholder="{% trans %}mo.f_placeholder.what_name_assignment_page{% endtrans %}" value="">
            </div>
            <button class="btn btn-default btn-lg course-add-custom-questions" type="button">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                {% trans %}mo.assignment_page{% endtrans %}
            </button>
        </div>
    </div>
{% endblock %}
{% set modalBaseType = 'close' %}
{% block closeButtonText %}{% trans %}o.frequently_used.close{% endtrans %}{% endblock %}
{% set modalId = 'courseAddExerciseModal' %}