{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
            {% trans %}mo.add_explantion{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <div class="centrum">
            <p class="lead">
                {% trans %}mo.what_kind_of_explantion{% endtrans %}
            </p>
            <a class="btn btn-default btn-lg" type="button" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'custom', 'name': 'text-instruction'}) }}">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                 {% trans %}mo.text{% endtrans %}
            </a>
            <a class="btn btn-default btn-lg" type="button" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'custom', 'name': 'text-video-instruction'}) }}">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                {% trans %}mo.video_or_text{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}
{% set modalBaseType = 'close' %}
{% block closeButtonText %}{% trans %}o.frequently_used.close{% endtrans %}{% endblock %}
{% set modalId = 'courseChooseInstructionModal' %}