{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}t.no_course_selected{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <br />
        <div class="centrum">
            <p class="text-muted">
                {% trans %}t.t_long.no_course_selected{% endtrans %}
            </p>
            <br />
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#studyIntroductionModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}o.button.follow_course{% endtrans %}
            </button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseReportIntroductionModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}o.course_report.t.course_report{% endtrans %}
            </button>
            <hr />
            <a href="#course-collection">{% trans %}h.view_course_collection{% endtrans %}</a>
        </div>
    </div>
{% endblock %}