{% extends ':exceptions:exception.base.html.twig' %}
{% block title %}{% trans %}exception.access.denied.page.title{% endtrans %}{% endblock %}
{% block exceptionTitle %}{% trans %}exception.access.denied.title{% endtrans %}{% endblock %}
{% block exceptionExplain %}
    <p>{% trans %}exception.access.denied.explanation.one{% endtrans %}</p>
    <ul>
        <li>{% trans %}exception.access.denied.explanation.six{% endtrans %} <a class="clickable" data-toggle="modal" data-target="#loginModal">{% trans %}exception.base.explanation.link.text{% endtrans %}</a></li>
        <li>{% trans %}exception.access.denied.explanation.two{% endtrans %}</li>
        <li>{% trans %}exception.access.denied.explanation.three{% endtrans %}</li>
        <li>{% trans %}exception.access.denied.explanation.four{% endtrans %}</li>
    </ul>
    <p>{% trans %}exception.access.denied.explanation.five{% endtrans %} <a href="{{ path('app_other_contact', {'_locale': app.request.locale}) }}">{% trans %}exception.base.explanation.link.text{% endtrans %}</a></p>
{% endblock %}