{% extends 'modal/modal.base.html.twig' %}
{% set modalId = 'ajaxErrorMessageModal' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b class="text-danger">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            {% trans %}o.frequently_used.error_message{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="centrum">
            <br/>
            <p class="lead text-exception">{{ errorMessage|raw }}</p>
            <br/>
        </div>
        {% if app.environment == 'dev' %}
            <div class="centrum">
                 <h4>{% trans %}o.frequently_used.original_exeception{% endtrans %}</h4>
                <p>{{ exception.getMessage }}</p>
                <h4>{% trans %}o.frequently_used.trace{% endtrans %}</h4>
                <p>{{ exception.getTraceAsString }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% set modalBaseType = 'close' %}
{% block closeButtonText %}{% trans %}o.frequently_used.close{% endtrans %}{% endblock %}