{% extends ':panels/study/pages:study.page.base.html.twig' %}
{% block pageContents %}
    {% for question in page.questions %}
        {% if question.questionType.type == 'multiple-choice' %}
            {% include ':ajax/components/study:study.page.question.multiple.choice.html.twig' with {'question': question } %}
        {% elseif question.questionType.type == 'open-question' %}
            {% include ':ajax/components/study:study.page.question.open.html.twig' with {'question': question} %}
        {% endif %}
    {% endfor %}
    <div class="centrum">
        <button type="button" class="btn btn-default btn-lg save-questions">
            <span class="glyphicon glyphicon-floppy-disk text-primary"></span>
            {% trans %}t.save_anwsers{% endtrans %}
        </button>
    </div>
    <br />
    <div id="hint-not-all-answered" class="centrum"></div>
{% endblock %}
