{% extends ':modal:modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_student{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
         <hr />
        <p class="lead centrum">
            {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            {% trans %}mo.remove_studen.t_long_01{% endtrans %} "<b>{{ user.firstName|capitalize }} {{ user.surname|capitalize }}"</b> {% trans %}mo.remove_studen.t_long_02{% endtrans %}
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ user.id }}{% endblock %}
{% block modalBaseYesAction %}RemoveAll{% endblock %}