{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}Contact{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="thumbnail">
            <h4><b>{% trans %}Ter informatie{% endtrans %}</b></h4>
            <p>
                {% trans %}Indien u contact wilt opnemen m.b.t. auteursrecht of ongepaste cursusinhoud, adviseren wij u eerst om het{% endtrans %}
                <a href="#{#TODO#}">{% trans %}rapportage menu{% endtrans %}</a>
                {% trans %}te bekijken. Dit menu biedt de mogelijkheid om gemakkelijk ongewenste content aan StudyLivre door te geven.{% endtrans %}
            </p>
        </div>
        <div class="thumbnail">
            <h4 class="centrum"><b>{% trans %}Contactformulier{% endtrans %}</b></h4>
            <form id="contact-form" class="form-horizontal" data-utl="{{ path('app_home_ajax_page') }}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans %}Voornaam{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input class="form-control data-value" data-attribute="firstName" placeholder="{% trans %}De voornaam{% endtrans %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans %}Achternaam{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input class="form-control data-value" data-attribute="surname" placeholder="{% trans %}De achternaam{% endtrans %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans %}Onderwerp{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control data-value" data-attribute="subject">
                            {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.translationKey|trans({},'db') }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans %}Email{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input class="form-control data-value" data-attribute="email" placeholder="{% trans %}Het email adres{% endtrans %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans %}Boodschap{% endtrans %}</label>
                    <div class="col-sm-10">{#TODO Correct placeholder#}
                        <textarea class="form-control data-value" data-attribute="message" placeholder="{% trans %}Doe hier uw boodschap{% endtrans %}" rows="12"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="centrum">
                        <button class="btn btn-default btn-lg" type="submit">
                            <b>{% trans %}Verstuur{% endtrans %}</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}