{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}cookie.cookiepolicy{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
 <div id="cookie" class="panel-body">
        <p>{% trans %}note.to.translation{% endtrans %}</p>
        <h4>{% trans %}cookie.last_updated{% endtrans %}</h4>
        <p>{% trans %}cookie.policy.t_long.part_01{% endtrans %}</p>
        <p>{% trans %}cookie.policy.t_long.part_02{% endtrans %}</p>
        <ul>
            <li>{% trans %}cookie.policy.li.li_01{% endtrans %};</li>
            <li>{% trans %}cookie.policy.li.li_02{% endtrans %};</li>
            <li>{% trans %}cookie.policy.li.li_03{% endtrans %};</li>
            <li>{% trans %}cookie.policy.li.li_04{% endtrans %};</li>
            <li>{% trans %}cookie.policy.li.li_05{% endtrans %}.</li>
        </ul>

        <h4>{% trans %}cookie.policy_third_parties.t{% endtrans %}</h4>
        <p>{% trans %}cookie.policy_third_parties.t_long.part_01{% endtrans %}</p>
        <p>{% trans %}cookie.policy_third_parties.t_long.part_02{% endtrans %}</p>
</div>
{% endblock %}