{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}m.author.head_title.author_rights{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="thumbnail">
            <h4><b>{% trans %}m.author.t_header.introduction{% endtrans %}</b></h4>
            <p>
                {% trans %}m.author.t_long.introduction_text{% endtrans %}
            </p>
        </div>
        <div class="thumbnail">
            <h4>{% trans %}m.author.t_header.author_right_policy{% endtrans %}</h4>
            <h5 class="text-muted">{% trans %}m.author.t.notify_copy_right{% endtrans %}</h5>
            <p>{% trans %}m.author.t_long.author_right_policy.text{% endtrans %}</p>
            <p>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#reportInstructionsModal">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {% trans %}o.b.report_content{% endtrans %}
                </button>
            </p>
            <h5 class="text-muted">{% trans %}m.author.t.widraw_claim{% endtrans %}</h5>
            <p>{% trans %}m.author.t_long.widraw_claim {% endtrans %}</p>
            <h5 class="text-muted">{% trans %}m.author.t.submit_defense{% endtrans %}</h5>
            <p>{% trans %}m.author.t_long.submit_defense{% endtrans %}</p>
            <h5 class="text-muted">{% trans %}m.author.t.principles.copyright.complaints{% endtrans %}</h5>
            <p>{% trans %}m.author.t_long.principles.copyright.complaints_part_01{% endtrans %}</p>
            <p>{% trans %}m.author.t_long.principles.copyright.complaints_part_02{% endtrans %}</p>
        </div>
    </div>
{% endblock %}