{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}m.guidelines.t_header.user_guidelines{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="thumbnail">
            <h4><b>{% trans %}m.guidelines.t_header.respect_guidlines{% endtrans %}</b></h4>
            <p>{% trans %}m.guidelines.t_long.respect_guidlines{% endtrans %}</p>
        </div>
        <div class="thumbnail">
            <h4><b>{% trans %}m.guidelines.t_header.the_guidelines{% endtrans %}</b></h4>
            <p>{% trans %}m.guidelines.t_long.the_guidelines{% endtrans %}</p>
            <ol>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.copy_rights{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.copy_rights{% endtrans %}
                </li>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.sex_content{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.sex_content{% endtrans %}
                </li>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.volicence_content{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.volicence_content{% endtrans %}
                </li>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.dangerous_content{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.dangerous_content{% endtrans %}
                </li>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.hate{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.hate{% endtrans %}    
                </li>
                <li>
                    <b class="text-muted">{% trans %}m.guidelines.t.spam{% endtrans %}:</b>
                    {% trans %}m.guidelines.t_long.spam{% endtrans %}
                </li>
            </ol>
        </div>
        <div class="thumbnail">
            <h4><b>{% trans %}m.guidelines.t.how_to_report{% endtrans %}</b></h4>
            <p>{% trans %}m.guidelines.t_long.how_to_report{% endtrans %}</p>

            <p>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#reportInstructionsModal">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {% trans %}o.b.report_content{% endtrans %}
                </button>
            </p>
        </div>
    </div>
{% endblock %}