{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}privacy.policy{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div id="privacy" class="panel-body">
        <h4><b>{% trans %}privacy.policy{% endtrans %}</b></h4>

        <h4>{% trans %}privacy.t.personal_details_which_we_save{% endtrans %}</h4>
        <p>{% trans %}privacy.t.personal_details_which_we_save.t_long_01{% endtrans %}</p>
        <ul>
            <li>{% trans %}privacy.t.personal_details_which_we_save.li.li_01{% endtrans %} </li>
            <li>{% trans %}privacy.t.personal_details_which_we_save.li.li_02{% endtrans %} </li>
            <li>{% trans %}privacy.t.personal_details_which_we_save.li.li_03{% endtrans %} </li>
            <li>{% trans %}privacy.t.personal_details_which_we_save.li.li_04{% endtrans %} </li>
            <li>{% trans %}privacy.t.personal_details_which_we_save.li.li_05{% endtrans %} </li>
        </ul>

        <h4>{% trans %}privay.why_proces{% endtrans %}</h4>
        <p>{% trans %}privay.why_proces.t_long.part_01{% endtrans %}:</p>
        <p>{% trans %}privay.why_proces.t_long.part_02{% endtrans %}.</p>

        <h4>{% trans %}privacy.why_need_details{% endtrans %}</h4>
        <p>{% trans %}privacy.why_need_details.t_long.part_01{% endtrans %}:</p>
        <ul>
            <li>{% trans %}privacy.why_need_details.li.li_01{% endtrans %} </li>
            <li>{% trans %}privacy.why_need_details.li.li_02{% endtrans %} </li>
        </ul>

        <h4>{% trans %}privacy.how_long_save_data{% endtrans %}</h4>
        <p>{% trans %}privacy.how_long_save_data.t_long_01{% endtrans %}</p>

        <h4>{% trans %}privacy.share_with_others{% endtrans %}</h4>
        <p>{% trans %}privacy.share_with_others.t_long_01{% endtrans %}</p>


        <h4>{% trans %}privacy.privacy_policy.third_parties{% endtrans %}</h4>
        <p>{% trans %}privacy.privacy_policy.third_parties.t_long_01{% endtrans %}</p>

        <h4>{% trans %}privacy.map_website_visits{% endtrans %}</h4>
        <p>{% trans %}privacy.map_website_visits.t_long_01{% endtrans %}</p>


        <h4>{% trans %}privacy.view_own_data_and_edit{% endtrans %}</h4>
        <p>{% trans %}privacy.view_own_data_and_edit.t_long_01{% endtrans %}</p>

        <h4>{% trans %}privacy.security{% endtrans %}</h4>
        <p>{% trans %}privacy.security.t_long_01{% endtrans %}</p>
    </div>
{% endblock %}