{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}user.agree_user.agreement{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div id="conditions" class="panel-body">
        <h4><b>{% trans %}user.agree_user.agreement{% endtrans %}</b></h4>
        <h4>{% trans %}user.agree_user.agreement.last_edited{% endtrans %}</h4>
        <h4>{% trans %}user.agree_user.general{% endtrans %}</h4>
        <p>{% trans %}user.agree_user.general.t_long_01{% endtrans %}</p>
        <p>{% trans %}user.agree_user.general.t_long_02{% endtrans %}</p>
        <p>{% trans %}user.agree_user.general.t_long_03{% endtrans %}</p>
        <h4>{% trans %}user.agree.definitions{% endtrans %}</h4>
        <p>{% trans %}user.agree.definitions.t_long_01{% endtrans %}</p>
        <p>{% trans %}user.agree.definitions.t_long_02{% endtrans %}</p>
        <h4>{% trans %}user.agree.terms_of_use{% endtrans %}</h4>
        <p>{% trans %}user.agree.terms_of_use.t_long_01{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_02{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_03{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_04{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_05{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_06{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_07{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_08{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_09{% endtrans %}</p>
        <p>{% trans %}user.agree.terms_of_use.t_long_10{% endtrans %}</p>
        <ul>
            <li>{% trans %}user.agree.terms_of_use.li.li_01{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_02{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_03{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_04{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_05{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_06{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_07{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_08{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_09{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_10{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_11{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_12{% endtrans %} </li>
            <li>{% trans %}user.agree.terms_of_use.li.li_13{% endtrans %} </li>
        </ul>
        <h4>{% trans %}user.agree.underage{% endtrans %}</h4>
        <p>{% trans %}user.agree.underage.t_long_01{% endtrans %}</p>

        <h4>{% trans %}user.agree.disclaimer{% endtrans %}</h4>
        <p>{% trans %}user.agree.disclaimer.t_long_01{% endtrans %}</p>
        <p>{% trans %}user.agree.disclaimer.t_long_02{% endtrans %}</p>
    </div>
{% endblock %}