{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}Gebruikersovereenkomst{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div id="conditions" class="panel-body">
        <h4><b>{% trans %}Gebruikersovereenkomst{% endtrans %}</b></h4>
        <p>{#TODO#}{% trans %}Dit moeten we nog doen{% endtrans %}</p>
    </div>
{% endblock %}