{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            {% trans %}mo.there_are_changes{% endtrans %}!
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="centrum">
            <br/>
            <p class="lead">{% trans %}mo.there_are_changes_are_your_sure{% endtrans %}</p>
            <br/>
            <input type="hidden" value="" class="url">
        </div>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesAction %}save{% endblock %}