{% block contactFinish %}
    <div class="centrum">
        <h4><b>{% trans %}m.contact.t.email_message{% endtrans %}</b></h4>
        <p>{% trans %}m.contact.t_long.email_message{% endtrans %}</p>
    </div>
{% endblock %}