{% block reportFinish %}
    <div class="centrum">
        <h4><b>{% trans %}m.contact.t.report_send{% endtrans %}</b></h4>
        <p>{% trans %}m.contact.t_long.report_send{% endtrans %}</p>
    </div>
{% endblock %}