{% block reportFinish %}
    <div class="centrum">
        <h4><b>{% trans %}Rapportage verstuurd{% endtrans %}</b></h4>
        <p>{% trans %}De rapportage is succesvol gestuurd. Wij van studylivre zullen er zo snel mogelijk naar kijken. En indien nodig een reactie geven.{% endtrans %}</p>
    </div>
{% endblock %}