{% extends 'modal/modal.base.html.twig' %}
{% set modalId = 'addVideoTutorialModal' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        <b>
            {% trans %}ext_info.add_video{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="explanation-background">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-primary">{% trans %}ext_info.add_video.add_video.option_i{% endtrans %}</p>
                    <p>{% trans %}ext_info.add_video.add_video.option_i.step_i{% endtrans %}.</p>
                    <p>{% trans %}ext_info.add_video.add_video.option_i.step_ii{% endtrans %}.</p>
                    <img src="{{ asset('images/'~app.request.locale~'/example_add_Youtube_option_01.png') }}" class="img-thumbnail">
                </div>
                <div class="col-md-6">
                    <p class="text-primary">{% trans %}
                        ext_info.add_video.add_video.option_ii
                        {% endtrans %}</p>
                    <p>{% trans %}
                        ext_info.add_video.add_video.option_ii.li.step_a
                        {% endtrans %}.</p>
                    <p>{% trans %}
                        ext_info.add_video.add_video.option_ii.li.step_b
                        {% endtrans %}.</p>
                    <img src="{{ asset('images/'~app.request.locale~'/example_add_Youtube_option_02.png') }}" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block closeButtonText %}
    {% trans %}o.frequently_used.close{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}
