{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
             {% trans %}mo.add_provider{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body {% if provider is not defined %}clear-modal-providers-values{% endif %}">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <form class="add-provider-form">
                        <div class="form-group">
                            <label class="control-label">{% trans %}o.frequently_used.provider{% endtrans %}</label>
                            <input required="required" type="text" class="form-control data-value" data-value-name="name" placeholder="{% trans %}mo.provider.f_placeholder.name_provider{% endtrans %}" {% if provider is defined and provider.name is not null %}value="{{ provider.name }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{% trans %}mo.description{% endtrans %}</label>
                            <textarea class="form-control data-value" data-value-name="description" placeholder="{% trans %}mo.provider.f_placeholder.provider_description{% endtrans %}" rows="5">{% if provider is defined and provider.description is not null %}{{ provider.description }}{% endif %}</textarea>
                        </div>
                    </form>
                </div>
                <input class="data-value" data-value-name="providerId" type="hidden" value="{% if provider is defined %}{{ provider.id }}{% else %}0{% endif %}">
            </li>
        </ul>
    </div>
{% endblock %}
{% block modalBaseFooter %}
    <div class="modal-footer">
        <button class="btn btn-default save-provider" type="button">
            <span class="glyphicon glyphicon-floppy-disk text-primary" aria-hidden="true"></span>
            {% trans %}o.frequently_used.save_and_close{% endtrans %}
        </button>
        <button class="btn btn-default" data-dismiss="modal" type="button">{% trans %}o.frequently_used.cancel{% endtrans %}</button>
    </div>
{% endblock %}