{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_instructor{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
             {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            {% trans %}mo.remove_instructor_details_01 {% endtrans %} "<b>{{ teacher.name }}</b>"?
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ teacher.id }}{% endblock %}
{% block modalBaseYesAction %}remove teacher{% endblock %}