{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}Cursus verwijderen{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}Verwijderen kan niet ongedaan worden. Weet je het zeker?{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            {% if course.name is not null and course.name != '' %}
                {% trans %}Je staat op het punt om de cursus{% endtrans %} "<b>{{ course.name }}</b>" {% trans %}te verwijderen!{% endtrans %}
            {% else %}
                {% trans %}Je staat op het punt om de cursus te verwijderen!{% endtrans %}
            {% endif %}
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ path('app_teach_my_courses_page') }}{% endblock %}
{% block modalBaseYesAction %}remove course{% endblock %}