{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_course{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            {% if course.name is not null and course.name != '' %}
                {% trans %}mo.remove_course.details_01{% endtrans %} "<b>{{ course.name }}</b>"?
            {% else %}
                {% trans %}mo.remove_course.which_has_no_name{% endtrans %}?
            {% endif %}
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ path('app_teach_my_courses_page') }}{% endblock %}
{% block modalBaseYesAction %}remove course{% endblock %}