{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}Cursus verwijderen{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="btn-pref" role="group">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-default" href="#tabIntro" data-toggle="tab">
                    {% trans %}Introductie{% endtrans %}
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfo" data-toggle="tab">
                    {% trans %}Informatie{% endtrans %}
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" href="#tabGoogleDrive" data-toggle="tab">
                    {% trans %}Google Drive{% endtrans %}
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" href="#tabDropbox" data-toggle="tab">
                    {% trans %}Dropbox{% endtrans %}
                </button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabIntro">
                <div class="explanation-background">
                    <hr />
                    <div class="centrum">
                        <h1 class="text-primary">
                            {% trans %}Documenten toevoegen{% endtrans %}
                        </h1>
                        <hr />
                        <p class="lead text-muted">
                            {% trans %}Link cursusmateriaal vanuit een publieke Google Drive en/of Dropbox map{% endtrans %}
                        </p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="tab-pane fade" id="tabInfo">
                <div class="explanation-background">
                    <h4 class="text-primary">
                        {% trans %}Ter informatie{% endtrans %}
                    </h4>
                    <p>{% trans %}Als je cursusmateriaal wilt uploaden heb je een Google Drive of Dropbox account nodig. Zet het cursusmateriaal in een publieke map op Google Drive en/of Dropbox. Op StudyLivre hoef je vervolgens alleen maar de link naar de map op te slaan{% endtrans %}</p>
                    <p>{% trans %}Vergeet niet de folder die je aanmaakt openbaar te maken, zodat iedereen erbij kan. Indien je map niet publiek is, kunnen cursisten niet bij het cursusmateriaal{% endtrans %}</p>
                </div>
            </div>
            <div class="tab-pane fade" id="tabGoogleDrive">
                <div class="explanation-background">
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CO_aJBbykM0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="tab-pane fade" id="tabDropbox">
                <div class="explanation-background">
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Xl4AHWhP7wQ" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block closeButtonText %}
    {% trans %}Sluiten{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}