{% block mailItem %}
    {% if is_granted('ROLE_USER') %}
        <a class="pull-right remove-responsive-400" href="{{ path('app_home_dashboard_pages_page', {'page': 'messages'}) }}" style="position: relative;">
            <img src="{{ asset('images/messages.png') }}" class="img-rounded" height="25px">
            <span id="unread-messages-count" class="badge" data-url="{{ path('app_home_ajax_page') }}" style="left: 8px; position: absolute; text-align: center; top: 5px; width: 60%"></span>
        </a>
    {% endif %}
{% endblock %}