{% block moreNavigationMenu %}
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans %}Over ons{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#TODO" data-toggle="tab">{% trans %}Algemeen{% endtrans %}</a></li>
                <li><a href="#TODO" data-toggle="tab">{% trans %}Adres{% endtrans %}</a></li>
                <li><a href="#TODO" data-toggle="tab">{% trans %}Social media{% endtrans %}</a></li>
                <li><a  href="#TODO" data-toggle="tab">{% trans %}Contact{% endtrans %}</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans %}Auteursrecht{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#TODO" data-toggle="tab">{% trans %}Inleiding{% endtrans %}</a></li>
                <li><a href="#TODO" data-toggle="tab">{% trans %}Rapportage indienen{% endtrans %}</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans %}Vragen{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#TODO">{% trans %}Algemeen{% endtrans %}</a></li>
                <li><a href="#TODO">{% trans %}Cursus volgen{% endtrans %}</a></li>
                <li><a href="#TODO">{% trans %}Cursus maken{% endtrans %}</a></li>
                <li><a href="#TODO">{% trans %}Leergroepen{% endtrans %}</a></li>
                <li><a href="#TODO">{% trans %}Auteursrecht{% endtrans %}</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans %}Overige{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#todo">Richtlijnen</a></li>
                <li><a href="#todo">Juridisch</a></li>
                <li><a href="#">Rapporteren</a></li>
                <li><a href="#">Kleurplaten</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}