{% block navigationMenu %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="{% if menu == 'home' %}active{% endif %}"><a href="{{ path('app_home_dashboard_page') }}">{% trans %}o.tab.home{% endtrans %}</a></li>
        <li class="{% if menu == 'learn' %}active{% endif %}"><a href="{{ path('app_learn_study_page') }}">{% trans %}o.tab.learn{% endtrans %}</a></li>
        <li class="{% if menu == 'teach' %}active{% endif %}"><a href="{{ path('app_teach_my_courses_page') }}">{% trans %}o.tab.teach{% endtrans %}</a></li>
        <li class="{% if menu == 'more' %}active{% endif %}"><a href="{{ path('app_other_about_us') }}">{% trans %}o.tab.more{% endtrans %}</a></li>
    </ul>
{% endblock %}