{% block teachNavigationMenu %}
    <ul class="nav nav-pills">
        <li class="{% if subMenu == 'myCourses'%}active{% endif %}"><a href="{{ path('app_teach_my_courses_page') }}">{% trans %}Mijn cursussen{% endtrans %}</a></li>
        <li class="{% if subMenu == 'progressionCourseMembers'%}active{% endif %}"><a href="{{ path('app_teach_progression_course_members') }}">{% trans %}Voortgang cursisten{% endtrans %}</a></li>
    </ul>
{% endblock %}