{% extends 'base.html.twig' %}
{% block title %}{% trans %}Aanmaken cursus{% endtrans %}{% endblock %}
{% block prescripts %}
    <script src="{{ asset('js/create-courses/course.create.js') }}"></script>
{% endblock %}
{% block body %}
    {% include ':elements:create.course.navigation.menu.html.twig' %}
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tabStandardCoursePages" aria-expanded="true">{% trans %}Standaard pagina's{% endtrans %}</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabCustomPages" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {% trans %}Voeg pagina toe{% endtrans %}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabFinish" aria-expanded="false">{% trans %}Publiceer{% endtrans %}</a>
            </li>
        </ul>
    </div>
    <div class="ajax-contents">
        {% include ':ajax/create-courses:start.standard.page.html.twig' %}
    </div>
{% endblock %}
{% block postscripts %}{% endblock %}