{% extends 'base.html.twig' %}
{% block title %}{% trans %}Mijn leergroepen{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Mijn leergroepen{% endtrans %}</h1>
{% endblock %}

{% set menu = 'teach' %}
{% set subMenu = 'myLearnGroups' %}