{% extends 'base.html.twig' %}
{% block title %}{% trans %}Voortgang cursisten{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Voortgang cursisten{% endtrans %}</h1>
{% endblock %}

{% set menu = 'teach' %}
{% set subMenu = 'progressionCourseMembers' %}