{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}Bekijk rapport{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        {% include ':ajax/reports:report.end.body.html.twig' %}
    </div>
{% endblock %}