{% block base %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Skhole {% block title %}{% endblock %}</title>
        {% block prescripts %}{% endblock %}
        {% stylesheets
        'css/bootstrap.min.css'
        'css/bootstrap-theme.min.css'
        'css/main.css'
        filter='cssrewrite'
        output='compiled/app.css'%}
            <link rel="stylesheet" href="{{ asset('compiled/app.css') }}" />
        {% endstylesheets %}

        {% javascripts
        'js/jquery.min.js'
        'js/bootstrap.min.js'
        'js/utils.js'
        'js/main.js'
        output='compiled/app.js'%}
            <script src="{{ asset('compiled/app.js') }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% include 'elements/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'elements/footer.html.twig' %}

        {% block modals %}{% include ':modals:ajax.exception.modal.html.twig' %}{% endblock %}
        {% block postscripts %}{% endblock %}
    </body>
</html>
{% endblock %}