<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Learn</a></li>
    <li><a href="#">Teach</a></li>
    <li><a href="#">More</a></li>
    <div class="pull-right">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalCreateAccountStep01">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <samp>Create account</samp>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>

    </div>
</ul>

<ul class="nav nav-pills">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#">Zoeken</a></li>
    <li><a href="#">Aan de slag</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Overige <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Veel gestelde vragen</a></li>
            <li><a href="#">Informatie voor</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Ik ben nieuw</a></li>
        </ul>
    </li>
    <a href="a" class="pull-right">
        <img src="resources/images/messages.png" height="25px" class="img-rounded">
        <span class="badge">4</span>
    </a>
</ul>