{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}o.course_report.view_reports{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        {% include ':ajax/reports:report.questions.page.body.html.twig' %}
    </div>
{% endblock %}