{% block modalBase %}
    <div class="modal fade bs-example-modal-lg" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content {{ modalId }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title centrum" id="myModalLabel">
                        {% block modalBaseHeader %}{% endblock %}
                    </h4>
                </div>
                {% block modalBaseContents %}{% endblock %}
                {% block modalBaseFooter %}
                    <div class="modal-footer">
                        {% if modalBaseType == 'close' %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% block closeButtonText %}{% endblock %}</button>
                        {% endif %}
                        {% if modalBaseType == 'choice' %}
                            <button class="btn btn-default btn-lg modal-yes" data-id="{% block modalBaseYesId %}{% endblock %}" data-action="{% block modalBaseYesAction %}{% endblock %}">{% trans %}Ja{% endtrans %}</button>
                            <button class="btn btn-default btn-lg" data-dismiss="modal">{% trans %}Nee{% endtrans %}</button>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}