{% extends 'base.html.twig' %}
{% block title %}{% trans %}Zoeken{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Zoeken{% endtrans %}</h1>
{% endblock %}

{% set menu = 'home' %}
{% set subMenu = 'search' %}