{% extends 'base.html.twig' %}
{% block title %}{% trans %}Over ons{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Over ons{% endtrans %}</h1>
{% endblock %}

{% set menu = 'more' %}
{% set subMenu = 'aboutUs' %}