{% extends 'base.html.twig' %}
{% block title %}{% trans %}Auteursrecht{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Auteursrecht{% endtrans %}</h1>
{% endblock %}

{% set menu = 'more' %}
{% set subMenu = 'copyright' %}