{% block profileEducationButtons %}
    <h4>
        <img src="{{ asset('images/logo-skhole.png') }}" alt="{% trans %}alt.studylivre{% endtrans %}" title="{% trans %}alt.studylivre{% endtrans %}"/>
        {% trans %}h.profile.t.education{% endtrans %}
    </h4>
    {% if education %}
        <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.education.b.class{% endtrans %}:</b> {{ education.class|default('-') }}</button>
        <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.education.b.study_year{% endtrans %}:</b> {{ education.schoolYear|default('-') }}</button>
        <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.education.b.level{% endtrans %}:</b> {{ education.level|default('-') }}</button>
    {% else %}
        <p class="no-education-data">{% trans %}h.profile.education.t_long.no_data_present{% endtrans %}</p>
    {% endif %}
{% endblock %}