{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}o.nav.course_basket{% endtrans %}: <span class="total-collection-items">{{ totalItems }}</span></b>
{% endblock %}
{% block panelBaseContents %}
    <div id="collection-items" class="panel-body page-controls" data-url="{{ url('app_home_ajax_page') }}" data-context="SELF" data-entity="Course\CourseCollectionItems" data-view="course-collection" data-default-search-attributes="">
        <div class="sort-field">
            {% if is_granted('ROLE_USER') and totalItems > 0 %}
                {% include ':ajax/course-collection:sort.html.twig' %}
            {% endif %}
        </div>
        <br />
        <div class="thumbnail">
            <div class="content-field">
                {% if not is_granted('ROLE_USER') %}
                    <hr />
                    <div class="centrum">
                        <p class="lead">{% trans %}t.course_basket.login_is_required_for_usage{% endtrans %}</p>
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#loginModal">{% trans %}m.login{% endtrans %}</button>
                    </div>
                {% elseif totalItems <= 0 %}
                    <hr />
                    <div class="centrum">
                        <p class="lead">{% trans %}t.course_basket.no_courses_in_basket{% endtrans %}</p>
                        <a class="btn btn-default" href="{{ path('app_home_dashboard_page') }}">{% trans %}t.course.a.search.courses{% endtrans %}</a>
                    </div>
                {% else %}
                    {% for item in collection %}
                        {% include ':ajax/course-collection:course.collection.item.row.html.twig' with {'course': item.course, 'index': loop.index} %}
                        {% include ':modal/course-collection:remove.collection.item.modal.html.twig' with {'collectionItem': item, 'modalId': 'removeCollectionItem'~loop.index } %}
                        {% include ':modal/learn:course.card.details.modal.html.twig' with {'course': item.course, 'modalId': 'courseCardDetailsModal'~loop.index} %}
                    {% endfor %}
                {% endif %}
            </div>
            <hr />
            <div class="pagination-field">
                {% if is_granted('ROLE_USER') and totalItems > 0 %}
                    {% include ':elements:pagination.html.twig' with {'maxEntities' : totalItems, 'limit': limit, 'offset': offset, 'maxPages' : maxPages, 'pageName': 'Pagina\'s'|trans, 'entity': 'Course\\CourseCollectionItems' } %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="review-modals-div">
    </div>
{% endblock %}