{% block cardIntroductionStandardPage %}
    <div class="tab-pane fade in active">
        {% include 'ajax/create-courses/elements/standard.navigation.buttons.html.twig' with {'active': 'card introduction'} %}
        <hr />
        <h4 class="centrum">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <b>{% trans %}o.frequently_used.course_card{% endtrans %}</b>
            <span>2.1 | {% trans %}t.create_course.introduction{% endtrans %}</span>
        </h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label>{% trans %}t.create_course.f_label.youtube_url{% endtrans %}</label>
                        <div class="input-group">
                            <input type="text" class="form-control card-introduction-change-youtube-text data-value" data-value-name="youtubeUrl"
                                   placeholder="{% trans %}t.create_course.f_placeholder.youtube_url{% endtrans %}" value="{% if courseCard.youtubeUrl is not null %}{{ courseCard.youtubeUrl }}{% endif %}">
                            <span class="input-group-btn">
                                <button class="btn btn-default card-introduction-youtube-preview" type="button">
                                    <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                                    {% trans %}t.create_course.b.video{% endtrans %}
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="{#TODO#}">
                                    <span class="glyphicon glyphicon-info-sign text-primary"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="card-introduction-youtube" data-error-text="{% trans %}t.create_course.youtube_url_not_recognized{% endtrans %}">
                    {% if courseCard.youtubeEmbedUrl is not null %}
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{ courseCard.youtubeEmbedUrl }}" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label>{% trans %}t.create_course.f_label.title{% endtrans %}</label>
                        <input data-value-name="name" type="text" class="form-control data-value" placeholder="{% trans %}t.create_course.f_placeholder.title{% endtrans %}" value="{% if courseCard.name is not null %}{{ courseCard.name }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label>{% trans %}t.create_course.f_label.textual_content{% endtrans %}</label>
                        <textarea class="form-control data-value" data-value-name="description" rows="8" placeholder="{% trans %}t.create_course.f_placeholder.textual_content{% endtrans %}">{% if courseCard.description is not null %}{{ courseCard.description }}{% endif %}</textarea>
                    </div>
                </form>
            </div>
        </div>
        {% include ':ajax/create-courses/elements:standard.footer.html.twig' with {'nextView': path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-provider'})} %}
    </div>
{% endblock %}