{% block cardProviderStandardPage %}
    <div class="tab-pane fade in active">
        {% include 'ajax/create-courses/elements/standard.navigation.buttons.html.twig' with {'active': 'card provider'} %}
        <hr />
        <h4 class="centrum">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <b>{% trans %}Cursuskaart{% endtrans %}</b>
            <samp>2.2 | {% trans %}Voorkennis & Aanbieder{% endtrans %}</samp>
        </h4>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}Voorkennis{% endtrans %}</label>
                <div class="col-sm-10">
                    <textarea class="form-control data-value" data-value-name="priorKnowledge" rows="4" placeholder="{% trans %}Beschrijf hier de voorkennis{% endtrans %}">{% if courseCard.priorKnowledge is not null %}{{ courseCard.priorKnowledge }}{% endif %}</textarea>
                </div>
            </div>
        </form>
        <hr />
        <div class="panel-body-pages">
            <hr />
            <div class="provider-rows">
                {% if providers.count > 0 %}
                    {% for provider in providers %}
                        {% include ':ajax/create-courses/provider:card.provider.row.html.twig' with {'provider': provider, 'index': loop.index } %}
                        {% include ':modal/create-course:card.remove.provider.modal.html.twig' with {'provider': provider, 'modalId': 'removeProviderModal'~loop.index } %}
                        {% include ':modal/create-course:card.add.provider.modal.html.twig' with {'provider': provider, 'modalId': 'addProviderModal'~loop.index } %}
                    {% endfor %}
                {% else %}
                    <p class="centrum no-providers-found-text">{% trans %}Geen aanbieders gevonden voor deze cursus{% endtrans %}</p>
                {% endif %}
            </div>
            <div class="centrum">
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addProviderModal">
                    <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                    <samp><b>{% trans %}Nieuwe aanbieder{% endtrans %}</b></samp>
                </button>
            </div>
        </div>
        {% include ':ajax/create-courses/elements:standard.footer.html.twig' with {'nextView': path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-teacher'})} %}
    </div>
{% endblock %}