{% block startStandardPage %}
    <div class="tab-pane fade in active">
        {% include 'ajax/create-courses/elements/standard.navigation.buttons.html.twig' with {'active': 'start'} %}
        <hr />
        <h4 class="centrum text-muted">
            {% if course.name is not null %}{{ course.name }}
            {% else %} {% trans %}t.create_course.course_name_displays_here_when_known{% endtrans %}
            {% endif %}
        </h4>
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <samp><b>{% trans %}t.create_course.t.starpage{% endtrans %}</b></samp>
                </h4>
                <p>
                    {% trans %}t.create_course.t.advice_before_starting{% endtrans %}
                </p>
                <a class="btn btn-default btn-sm" type="button" href="{{ path('app_other_copyright_page') }}">
                    {% trans %}t.create_course.b.author_right{% endtrans %}
                </a>
                <a class="btn btn-default btn-sm" type="button" href="{{ path('app_other_guidelines') }}">
                    {% trans %}t.create_course.b.guidelines{% endtrans %}
                </a>
                <a href="#extensive-information" class="btn btn-default btn-sm" type="button" >
                    <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true"></span>
                    {% trans %}t.create_course.b.info_create_course{% endtrans %}
                </a>
                <hr />
                 <div class="thumbnail">
                    <h4>
                        {% trans %}t.create_course.t.met_minimum_req{% endtrans %}
                        <span class="glyphicon {% if course.canPublish %}glyphicon-ok text-success{% else %}glyphicon-minus text-danger{% endif %}" aria-hidden="true"></span>
                    </h4>
                    <p>
                        <samp>1.</samp> | <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                        {% trans %}t.create_course.t.met_minimum_req_search_date{% endtrans %}
                        <span class="glyphicon
                            {% if course.isComplete %}glyphicon-ok text-success{% else %}glyphicon-minus text-danger{% endif %}"></span>
                    </p>
                    <p>
                        <samp>2.</samp> | <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {% trans %}t.create_course.t.met_minimum_req_course_card{% endtrans %}
                        <span class="glyphicon
                            {% if course.courseCard is not null and course.courseCard.isComplete %}glyphicon-ok text-success{% else %}glyphicon-minus text-danger{% endif %}" aria-hidden="true"></span>
                    </p>
                    <p>
                        <samp>3.</samp> | {% trans %}t.create_course.t.met_minimum_req_added_one_item{% endtrans %}
                        <span class="glyphicon {% if course.hasCustomPages %}glyphicon-ok text-success{% else %}glyphicon-minus text-danger{% endif %}" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="thumbnail">
                    <h4><b>{% trans %}t.create_course.met_al_req_question{% endtrans %}?</b></h4>
                    <p>
                        {% trans %}t.create_course.t_long.met_al_req_question_part_01{% endtrans %}
                        <a href="{{ path('app_teach_edit_course_page_page', {'pageType': 'publish', 'name': 'start', 'id': course.id}) }}"><i>{% trans %}t.create_course.a.publish_tab{% endtrans %}</i></a>
                        {% trans %}t.create_course.t_long.met_al_req_question_part_02{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" allowfullscreen="allowfullscreen" src="https://www.youtube.com/watch?v=UI3nhSdheCI"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}