{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}l.start_page.start_page{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
     
        <div class="centrum">
            <h2>
                <b>{% trans %}l.start_page.start_of_course{% endtrans %}</b>
            </h2>
            <h4 class="text-muted">
                {% trans %}o.frequently_used.course_name{% endtrans %}:
                {{ course.name|capitalize }}
            </h4>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#studyIntroductionModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}o.button.follow_course{% endtrans %}
            </button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseReportIntroductionModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}o.course_report.t.course_report{% endtrans %}
            </button>
        </div>
        <br/>
        <div class="modal-info-background">
             <h4 class="text-primary">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        {% trans %}o.ter_information{% endtrans %}
             </h4>
             <p>
                {% trans %}l.start_page.t_instruction_01{% endtrans %}
                <b>{% trans %} l.start_page.t_instruction_02{% endtrans %} </b> 
                {% trans %}l.start_page.t_instruction_03{% endtrans %}  
            </p>
             <p>
                {% trans %}t.start_page.report_info{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
{% block panelBaseFooter %}
    {% include ':panels/learn/study/custom:study.custom.panel.footer.html.twig' with {'moreButton': false, 'currentOrder': 0, 'total': course.coursePages|length, 'courseId': course.id} %}
{% endblock %}