.centrum{
	right: 50%;
	left: 50%;
	text-align: center;

}
/*==== */
.min-height-thumbnail{
	height: 200px;
}
.margin-from-top120{
	margin-top: 100px;
}

/*==== */
.panel-body-pages
{
	overflow-y: scroll;
	height: 300px;
}

/*==== */
.panel.with-nav-tabs .panel-heading{
	padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #fff;
	border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #000000;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #e5e5e5;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	background-color: #4a9fe9;
}

.clickable {
	cursor: pointer;
}

.unclickable {
	cursor: default;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: absolute;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
	overflow: hidden;
}

#loading .loading-image {
	position: absolute; /* or absolute */
	top: 50%;
	left: 50%;
	z-index: 100;
}

#logo {
	position: absolute;
	z-index: 12;
	right: 50%;
	left: 50%;
}

.teacher-picture-preview-img {
	width: 100px;
	height: 100px;
}

.teacher-row-picture {
	width: 50px;
	height: 50px;
}

#sortable li {
	cursor: pointer;
}