/* Non bootstrap css /*/

#logo{
	position: absolute;
	z-index: 12;
	right: 50%;
	left: 50%;
 }
 
.centrum{
	right: 50%;
	left: 50%;
	text-align: center;
}

.centrumlogo{
	margin-right: 0 auto;
	margin-left: 0 auto;

}

.profile-picture-preview-img {
    width: 50px;
    height: 50px;
}

.teacher-picture-preview-img {
    width: 100px;
    height: 100px;
}

.teacher-row-picture {
    width: 50px;
    height: 50px;
}

.profile-picture {
    width: 35px;
    height: 35px;
}

#sortable li {
    cursor: pointer;
}

.min-height-thumbnail{
   height: 200px; 
}

.max-height-pictures{
    max-height:50px;
}
.margin-from-top120{
   margin-top: 120px; 
}

.panel-body-pages
{
    overflow-y: scroll;
    max-height: 300px;
}

.legal-max-height
{
    overflow-y: scroll;
    max-height: 300px;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color:  #0079d3;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
 
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fff;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #000000;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #e5e5e5;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/***  ***/
 .button-middle {
	position: absolute;
	z-index: 2;
	right: 52%;
	left: 48%;
 }

.logo-background {
    background-color: #fcfcfc; 
    border-color: #ddd;
    border-style:  solid;
    border-radius: 5px;
    max-width: 380px;
}

.modal-info-background {
    background-color: #fcfcfc; 
    border-color: #ddd;
    border-style:  solid;
    border-radius: 5px;
}

.explanation-background {
    background-color: #fcfcfc;
    border-color: #ddd;
    border-radius: 5px;
    border-style: solid;
}



/***  ***/




.cover-card {
    background: url("../images/messages.png");
    height: 100%;
    width: 100%;
}
.cover-card > p {
	text-align: center;
    color: pink;
}

/*** bootstrap klasse die hier aangevuld wordt 
.list-group-item {
    cursor: move;
}
***/

.logo-background-video {
    background-color: #fcfcfc; 
    border-color: #ddd;
    border-style:  solid;
    border-radius: 5px;

}

.clickable {
    cursor: pointer;
}

.unclickable {
    cursor: default;
}

.unclickable-default {
    cursor: default;
}

.unclickable:active {
    background-color: white;
}

.unclickable:hover {
    background-color: white;
}

.message-relative{
    position: relative; 

}

.message-absolute{
    position: absolute; 
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    opacity: 0.7;
    background-color: #fff;
    z-index: 1200;
    text-align: center;
    overflow: hidden;
}

#loading .loading-image {
    position: relative; /* or absolute */
    display: inline-block;
    /*left: 50%;*/
    top: 25%;
    z-index: 100;
}
[class*="col-"] .select2-container {
    width:100%!important;
}
[class*="col-"] .select2-container .select2-search input[type="text"] {
    padding:2px 4%!important;
    width:90%!important;
    margin:5px 2%;
}
[class*="col-"] .select2-container .select2-drop {
    width: 100%!important;
}

#fade-quote-carousel.carousel {
    padding-bottom: 15px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 1px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #428bca;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

/**/

#fade-quote-carousel-education.carousel {
    padding-bottom: 15px;
}
#fade-quote-carousel-education.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel-education.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel-education.carousel .carousel-indicators {
    bottom: 1px;
}
#fade-quote-carousel-education.carousel .carousel-indicators > li {
    background-color: #428bca;
    border: none;
}
#fade-quote-carousel-education blockquote {
    text-align: center;
    border: none;
}

@media screen and (max-width: 800px) {
    .remove-responsive-800 {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .remove-responsive-750 {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .remove-responsive-700 {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .remove-responsive-650 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .remove-responsive-600 {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .remove-responsive-550 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .remove-responsive-500 {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .remove-responsive-450 {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .remove-responsive-400 {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .remove-responsive-350 {
        display: none;
    }
}

@media screen and (max-width: 300px ){
    .remove-responsive-300 {
        display: none;
    }
}

