{% extends ':exceptions:exception.base.html.twig' %}
{% block exceptionTitle %}{% trans %}exception.course.removed.title{% endtrans %}{% endblock %}
{% block exceptionExplain %}
    <p>{% trans %}exception.course.removed.explanation.one{% endtrans %}</p>
{% endblock %}