{% extends 'base.html.twig' %}
{% block title %}{% trans %}title.dashboard{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}title.dashboard{% endtrans %}</h1>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseCodeModal">
        <span class="glyphicon glyphicon-grain text-info" aria-hidden="true"></span>
        <samp><b>Cursuscode invoeren</b></samp>
    </button>
{% endblock %}

{% block modals %}
    {% include ':modal:course.code.modal.html.twig' %}
{% endblock %}

{% set menu = 'home' %}
{% set subMenu = 'dashboard' %}