{% extends 'base.html.twig' %}
{% block title %}{% trans %}Aan de slag{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Aan de slag{% endtrans %}</h1>
{% endblock %}

{% set menu = 'home' %}
{% set subMenu = 'gettingStarted' %}