{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}o.button.follow_course{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <h4><b>{% trans %}o.button.follow_course{% endtrans %}</b></h4>
        <p>{% trans %}h.getting_started.follow_course_part_01{% endtrans %}:</p>
        <ol>
            <li>{% trans %}h.getting.started.follow_course.li.choose_what_and_where{% endtrans %};</li>
            <li>{% trans %}h.getting.started.follow_course.li.learn_when_you_want{% endtrans %};</li>
            <li>{% trans %}h.getting.started.follow_course.li.course_report{% endtrans %}.</li>
        </ol>
        <p>{% trans %}h.getting.started.follow_course.text_02{% endtrans %}.</p>
        <p>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#studyIntroductionModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}o.button.follow_course{% endtrans %}
            </button>
        </p>
    </div>
{% endblock %}