{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}t.create_course.b.info_create_course{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="row">           
            <div class="col-md-6">
                <h4><samp><b>{% trans %}h.getting.started.report.the_report{% endtrans %}</b></samp></h4>
                <p>
                {% trans %}h.getting.started.report.the_report.text{% endtrans %}
                </p>
            </div>
            <div class="col-md-6">
                <h4><samp><b>{% trans %}h.getting.started.report.share_with{% endtrans %}</b></samp></h4>
                <p>
                {% trans %} h.getting.started.report.share_with.text_01{% endtrans %}.
                </p>
            </div>
        </div>  
        <p>{% trans %}h.getting.started.create_course.text_03{% endtrans %}</p>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseReportIntroductionModal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {% trans %}o.button.course_report{% endtrans %}
        </button>
    </div>
{% endblock %}