{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}Aan de slag{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h4><b>{% trans %}Introductie{% endtrans %}</b></h4>
                <p>{% trans %}StudyLivre beidt je de mogelijkheid om cursussen te bekijken, maken en delen. Na afronding van een cursus kun je een cursusrapport (met daarin je resultaten) inzien. Als begeleider of docent is het mogelijk om cursusrapporten in te zien van cursisten die het rapport met jouw hebben gedeeld.{% endtrans %}</p>
                <p>{% trans %}Het Aan de slag menu beidt een overzicht over wat je allemaal kunt op het StudyLivre platform. Selecteer een onderwerp waarover u meer te weten wilt komen.{% endtrans %}</p>
                <div class="logo-background">
                    <h4>
                        <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded" height="28px">
                        <samp>
                            <b>
                                <span class="text-muted">{% trans %}Study{% endtrans %}</span>
                                <span class="text-primary">{% trans %}Livre{% endtrans %}</span>
                            </b>
                            <small>{% trans %}empowering education{% endtrans %}</small>
                        </samp>
                    </h4>
                </div>
                {% if not is_granted('ROLE_USER') %}
                    <hr />
                    <div class="centrum">
                        <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#loginModal">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {% trans %}Account aanmaken{% endtrans %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-4by3">
                    {#TODO Change url#}
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AX7r61fyltc" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}