{% extends 'base.html.twig' %}
{% block title %}{% trans %}Juridisch{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Juridisch{% endtrans %}</h1>
{% endblock %}

{% set menu = 'more' %}
{% set subMenu = '' %}