{% extends 'base.html.twig' %}
{% block title %}{% trans %}Rapporteren{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Rapporteren{% endtrans %}</h1>
{% endblock %}

{% set menu = 'more' %}
{% set subMenu = '' %}