{% extends ':modal:modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_report.remove_report{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            {% trans %}mo.remove_report.t_long.remove_report{% endtrans %} "<b>{{ report.course.name }}</b>" {% trans %}mo.remove_details_02{% endtrans %}!
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ report.id }}{% endblock %}
{% block modalBaseYesAction %}{{ url('app_home_ajax_page') }}{% endblock %}