{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            {% trans %}mo.share_report.share_report{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.share_report.f_label.mentor_code{% endtrans %}:</label>
                <div class="col-sm-10">
                    <input class="form-control input-mentor-code" placeholder="{% trans %}mo.share_report.f_placeholder.mentor_code{% endtrans %}">
                </div>
            </div>
            <br>
            <div class="centrum">
                <button class="btn btn-default btn-lg send-mentor-request" type="button" data-report-id="{{ report.id }}">
                    <b>{% trans %}o.frequently_used.send{% endtrans %}</b>
                </button>
            </div>
        </form>
        <br>
        <div class="modal-info-background">
            <p>
                <b>
                    <span class="glyphicon glyphicon-info-sign text-info" aria-hidden="true"></span>
                    {% trans %}o.ter_information{% endtrans %}
                </b>
                <br>
                {% trans %}mo.share_report.t_long.info{% endtrans %}
            </p>
           <img src="{{ asset('images/'~app.request.locale~'/example_shared_report_with.png') }}" class="img-thumbnail">
        </div>
    </div>
{% endblock %}

{% block closeButtonText %}
    {% trans %}o.frequently_used.close{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}