{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
    <b>{% trans %}t.own_created_courses.t.own_created_courses{% endtrans %}: <span class="total-courses">{{ totalCourses }}</span></b>
{% endblock %}
{% block panelBaseContents %}
    <br>
    <div class="centrum">
        <a href="{{ path('app_teach_create_course_page') }}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
            <samp>{% trans %}t.own_created_courses{% endtrans %}</samp>
        </a>
    </div>
    <br>
    <div class="panel-body page-controls" data-url="{{ url('app_home_ajax_page') }}" data-context="SELF" data-entity="Course\Courses" data-view="my-courses" data-default-search-attributes="">
        <div class="sort-field">
            {% include ':ajax/my-courses:sort.html.twig' %}
        </div>
        <br>
        <div class="thumbnail">
            {% if totalCourses <= 0 %}
                <div class="centrum">
                    <p class="lead">
                        {% trans %}t.own_created_courses.t_long.no_courses_yet{% endtrans %}
                    </p>
                </div>
            {% else %}
                <div class="content-field">
                    {% for course in courses %}
                        {% include ':ajax/my-courses:course.detail.body.html.twig' with {'course': course, 'index': loop.index } %}
                        {% include ':modal/learn:course.card.details.modal.html.twig' with {'course': course, 'modalId': 'courseDetailsModal' ~ loop.index } %}
                        {% include ':modal/my-courses:course.remove.modal.html.twig' with {'course': course, 'modalId': 'courseRemoveModal' ~ loop.index } %}
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            <div class="pagination-field">
                {% include ':elements:pagination.html.twig' with {'maxEntities' : totalCourses, 'limit': limit, 'offset': offset, 'maxPages' : maxPages, 'pageName': 'Mijn cursussen'|trans, 'entity': 'Course\\Courses', 'class': 'course-details' } %}
            </div>
        </div>
    </div>
    <div class="review-modals"></div>
{% endblock %}