{% extends ':panels/learn/study/pages:study.page.base.html.twig' %}
{% block pageContents %}
    <div class="centrum">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="{{ page.youtubeEmbedUrl }}"></iframe>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
