{% extends 'base.html.twig' %}
{% block title %}{% trans %}o.frequently_used.study{% endtrans %}{% endblock %}
{% block body %}
    <div id="study" data-name="{{ name }}" data-course-id="{{ page.course.id }}" data-url="{{ path('app_home_ajax_page') }}">
        <div id="study-header">
            {% include ':elements:study.navigation.menu.html.twig' with {'course': page.course} %}
        </div>
        <div id="study-contents">
            {% include ':panels/learn/study/pages:study.'~type~name~'panel.html.twig' with {'page': page, 'totalPages': totalPages} %}
        </div>
        <div class="pagination-field">
            {% include ':panels/learn/study/custom:study.pagination.html.twig' with {'offset': page.pageOrder} %}
        </div>
        {% include ':panels/general:commercial.panel.html.twig' %}
    </div>
{% endblock %}

{% block modals %}

{% endblock %}

{% block prescripts %}
    <script src="{{ asset('js/study/study.js') }}"></script>
{% endblock %}

{% set menu = 'learn' %}
{% set subMenu = 'study' %}