{% extends 'base.html.twig' %}
{% block title %}{% trans %}Studeer{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}Studeer{% endtrans %}</h1>
{% endblock %}

{% set menu = 'learn' %}
{% set subMenu = 'study' %}