{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
             {% trans %}mo.remove_messages{% endtrans %}
        </b>
    </h4>
{% endblock %}

{% block modalBaseContents %}
    <div class="modal-body">
        <div class="centrum">
            <br/>
            <p class="lead">{% trans %}mo.remove_messages.are_you_sure{% endtrans %}</p>
            <br/>
        </div>
    </div>
{% endblock %}

{% block modalBaseYesAction %}
    {% trans %}mo.remove_messages.delete{% endtrans %}
{% endblock %}

{% set modalBaseType = 'choice' %}