{% extends ':modal:modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_course{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            <span class="text-muted">
                {% if course.state.stateCode == 'OK' %}
                   {% trans %}mo.remove_own_course.message_when_removing{% endtrans %}
                {% endif %}
            </span>
        </p>
         <p class="centrum">
            {% trans %}mo.remove_own_course.ready_to_remove_course{% endtrans %} "<b>{{ course.name }}</b>"?
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ course.id }}{% endblock %}
{% block modalBaseYesAction %}{{ url('app_home_ajax_page') }}{% endblock %}