{% extends ':modal:modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}Cursus verwijderen{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}Verwijderen kan niet ongedaan worden. Weet je het zeker?{% endtrans %}
        </p>
        <br />
        <p class="centrum">
            <span class="text-muted">
                {% if course.state.stateCode == 'OK' %}
                    {% trans %}Deze cursus is gepubliceerd. De personen die deze cursus aan het volgen zijn zullen een bericht krijgen. Deze personen kunnen gewoon de cursus afmaken. De cursus zal niet meer opzoekbaar zijn en zal niet meer te volgen zijn{% endtrans %}
                {% endif %}
            </span>
        </p>
        <p class="centrum">
            {% trans %}Je staat op het punt om de curses{% endtrans %} "<b>{{ course.name }}</b>" {% trans %} te verwijderen!{% endtrans %}
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ course.id }}{% endblock %}
{% block modalBaseYesAction %}{{ url('app_home_ajax_page') }}{% endblock %}