{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}h.user_profile{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    {% set dataEntity = "Profile" %}
    <div class="panel-body" data-url="{{ url('app_home_ajax_page') }}">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-detail-buttons">
                    {% include ':ajax/profile:profile.details.buttons.html.twig' with {'user': app.user} %}
                </div>
                <hr/>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#profilePersonalInfoModal">{% trans %}o.frequently_used.edit{% endtrans %}
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#profileRemoveModal">{% trans %}mo.remove_account.remove_account{% endtrans %}</button>
            </div>
            <div class="col-md-6">
                <div class="profile-education-buttons">
                    {% include ':ajax/profile:profile.education.buttons.html.twig' with {'education': education} %}
                </div>
                <hr />
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#profileEducationInfoModal">{% trans %}o.frequently_used.edit{% endtrans %}
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}