{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}Onderwijzersprofiel{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <h4>
            <img src="{{ asset('images/denker.png') }}" class="img-rounded">
            {% trans %}Teach gegevens{% endtrans %}
        </h4>
        <button type="button" class="btn btn-default btn-xs unclickable"><b>{% trans %}Cursussen aangemaakt{% endtrans %}:</b> {{ createdCourses }}</button>
        <button type="button" class="btn btn-default btn-xs unclickable"><b>{% trans %}Uw begeleidercode{% endtrans %}:</b> {{ app.user.mentorCode }}</button>
    </div>
{% endblock %}