{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}Resultaten{% endtrans %}:</b> <span class="search-result-count">0</span>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body page-controls" data-view="search" data-entity="Course\Courses" data-context="PUBLIC" data-url="{{ url('app_home_ajax_page') }}">
        <div class="sort-field">
        </div>
        <br />
        <div class="content-field">
            <p class="lead centrum">{% trans %}Geen resultaten gevonden{% endtrans %}</p>
        </div>
        <br />
        <div class="pagination-field">
        </div>
        <input type="hidden" class="search-enabled" value="true" data-correlation="AND">
        <input type="hidden" class="search-value" data-entity="courses" data-attributes="name,description" value="" data-has-multiple="0">
        <input type="hidden" class="search-value" data-entity="tags" data-attributes="tag" value="" data-has-multiple="1">
        <input type="hidden" class="search-value" data-entity="providers" data-attributes="name,description" value="" data-has-multiple="0">
        <input type="hidden" class="search-value" data-entity="teachers" data-attributes="name" value="" data-has-multiple="0">
        <input type="hidden" class="search-value" data-entity="languages" data-attributes="id" value="" data-has-multiple="0">
        <input type="hidden" class="search-value" data-entity="levels" data-attributes="id" value="" data-has-multiple="0">
    </div>
{% endblock %}