{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}our.services.panel.title{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="{% trans %}youtube.introduction.video{% endtrans %}" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <h4><b>{% trans %}o.frequently_used.introduction{% endtrans %}</b></h4>
                <p>{% trans %} h.getting_started.intro_part_01{% endtrans %}.</p>
                {% if not is_granted('ROLE_USER') %}
                    <hr />
                    <div class="centrum">
                        <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#loginModal">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {% trans %}o.create_account{% endtrans %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    </div>
                    <hr/>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" allowfullscreen="allowfullscreen" src="{% trans %}youtube.create.course.video{% endtrans %}"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}