{% block reportQuestionsPageBody %}
    {% set pdfLayout = usePdfLayout is defined ? usePdfLayout : false %}

    {% if pdfLayout %}
        <a name="{{ page.id }}" style="display: none;"></a>
        <h4 class="text-primary">{{ page.title }}</h4>
    {% else %}
        <div class="well well-sm">
            <div class="centrum">
                <b>{{ page.title }}</b>
            </div>
        </div>
    {% endif %}
    {% for question in questions %}
        {% include ':panels/learn/report/questions:'~question.question.questionType.type~'.item.html.twig' %}
    {% endfor %}
{% endblock %}