{% block reportEndBody %}
    <div class="centrum">
        <br>
        <h1 class="text-primary">
            <samp>{% trans %}o.end_course_report{% endtrans %}</samp>
        </h1>
        <h4>{{ report.course.name }}</h4>
        <span><samp>{% trans %}t.link.studylivre{% endtrans %}</samp></span>
        <hr />
    </div>
{% endblock %}