{% block sort %}
    {% if not attribute is defined %}{% set attribute = 'id' %}{% endif %}
    {% if not value is defined %}{% set value = 'DESC' %}{% endif %}

    <div class="pull-right">
        <label>{% trans %}Sorteer op{% endtrans %}:</label>
        <select class="sortable" name="filterOptions" size="1" aria-controls="example1">
            <option {% if attribute == 'id' and value == 'DESC' %}selected="selected"{% endif %} data-attribute="id" data-sorted="DESC">{% trans %}Relevantie{% endtrans %}</option>
            <option {% if attribute == 'finishedDateTime' and value == 'ASC' %}selected="selected"{% endif %} data-attribute="finishedDateTime" data-sorted="ASC">{% trans %}Cursus afgerond oplopend{% endtrans %}</option>
            <option {% if attribute == 'finishedDateTime' and value == 'DESC' %}selected="selected"{% endif %} data-attribute="finishedDateTime" data-sorted="DESC">{% trans %}Cursus afgerond aflopend{% endtrans %}</option>
        </select>
    </div>
{% endblock %}